body {
    text-align: left;
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 2;
}

#prediction {
    font-size: 18px;
    color: crimson;
}

.container {
    display: flex;
    justify-content: center;
}