body {
    text-align: left;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 2;
}

p {
    font-size: 16px;
    font-weight: bold;
}

#prediction {
    font-size: 18px;
    color: crimson;
}

.container {
    width: 30%;
    margin: auto;
    max-width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}